.development-cycle {
  display: grid;
  margin: 0 auto;
  width: 100%;
  gap: 32px;
  grid-template-columns: 1fr 1.3fr;
  grid-template-areas: "technologies-heading services"
 "technologies-description services"
 "technologies services";
}

.development-cycle__technologies {
  grid-area: technologies;
  display: flex;
  flex-direction: column;
}

.development-cycle__technologies-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  grid-area: technologies-heading;
}

.development-cycle__technologies-description {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  grid-area: technologies-description;
}

.development-cycle__web {
  grid-area: web-technologies;
}

.development-cycle__web-heading {
  margin-bottom: 16px;
}

.development-cycle__mobile {
  grid-area: mobile-technologies;
  margin-top: 32px;
}

.development-cycle__mobile-heading {
  margin-bottom: 16px;
}

.development-cycle__blue-slash {
  color: var(--blue);
}

.development-cycle__services {
  grid-area: services;
  margin: 10px auto 0;
  list-style: none;
}

.development-cycle__service {
  margin-bottom: 24px;
  display: flex;
}

.development-cycle__service-text {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.development-cycle__service-text::before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.development-cycle__service-text-wrapper {
  margin-right: 21px;
  display: inline-block;
}

.development-cycle__service-text-wrapper:hover {
  border-bottom: 1px solid var(--blue);
  margin-bottom: -1px;
  font-weight: 600;
}

/* --- TABLET --- */
@media (max-width: 768px) {
  .development-cycle {
    padding-top: 32px;
    padding-bottom: 48px;
    grid-template-areas: "technologies-heading technologies-heading"
 "technologies-description technologies-description "
 "technologies services";
  }

  .development-cycle__web-technologies, .development-cycle__mobile-technologies {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #344054;
  }

  .development-cycle__service {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.38px;
  }
}

/* --- PHONE --- */
@media (max-width: 426px) {
  .development-cycle {
    display: block;
  }

  .development-cycle__technologies-description {
    margin-top: 32px;
  }

  .development-cycle__technologies {
    margin-top: 32px;
  }

  .development-cycle__technologies-heading {
    font-size: 28px;
  }

  .development-cycle__services {
    margin-top: 32px;
  }

  .development-cycle__mobile-technologies, .development-cycle__web-technologies {
    width: 70%;
  }
}