/* --- FOOTER ---  */
.footer {
  background-color: var(--gray-900);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  color: #FFFFFF;
  margin-bottom: 48px;
  max-width: 1400px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08); }
  .footer__heading {
    margin-bottom: 42px; }
  .footer__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .footer__item {
    display: flex;
    flex-direction: column;
    flex: 1; }
    .footer__item-top {
      display: flex;
      align-items: center;
      justify-content: flex-start; }
      .footer__item-top-text {
        color: var(--gray-400);
        margin-left: 8px; }
    .footer__item-bottom {
      margin-top: 8px; }
  .footer__bottom {
    display: flex;
    align-items: center;
    margin-top: 40px; }
    .footer__bottom-icon {
      margin-right: 12px; }

@media (max-width: 767px) {
  .footer {
    padding: 44px 16px 38px 56px;
    justify-content: space-between;
    margin-bottom: 0; } }

@media (max-width: 426px) {
  .footer {
    padding: 40px 32px 32px 40px; }
    .footer__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 68px;
      grid-row-gap: 32px; }
    .footer__item-top {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -0.154px; }
    .footer__item-bottom {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: -0.408px; } }
