.main-banner {
  width: 100%;
  max-height: 900px;
  background: var(--gray-100);
  padding-top: 160px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin: 0 auto; }
  .main-banner__title {
    max-width: 600px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px; }
  .main-banner__description {
    max-width: 600px;
    margin-top: 24px; }
  .main-banner__title_highlighted {
    color: var(--blue); }
  .main-banner__form {
    display: grid;
    grid-template-areas: "banner-heading banner-heading ."
 "phone-input fullname-input banner-button";
    margin-top: 64px; }
    .main-banner__form-heading {
      padding-right: 30px;
      grid-area: banner-heading; }
    .main-banner__form-button {
      grid-area: banner-button;
      max-width: 155px;
      text-align: start; }
  .main-banner__phone-wrapper {
    grid-area: phone-input; }
  .main-banner__fullname-wrapper {
    grid-area: fullname-input; }
  .main-banner__background {
    display: flex;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 290px; }
  .main-banner__picture {
    width: 290px;
    height: 630px;
    margin: 12px 0;
    box-sizing: border-box; }
  .main-banner__left-carousel {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: calc(654px * 6);
    top: 0;
    animation: left-carousel 25s linear infinite; }

@keyframes left-carousel {
  0% {
    transform: rotate(-12deg) translate(0px, -654px); }
  100% {
    transform: rotate(-12deg) translate(0px, calc(-654px * 4)); } }
  .main-banner__right-carousel {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: calc(654px * 6);
    top: 0;
    animation: right-carousel 25s linear infinite; }

@keyframes right-carousel {
  0% {
    transform: rotate(-12deg) translate(320px, calc(-654px * 4)); }
  100% {
    transform: rotate(-12deg) translate(320px, -654px); } }

/* --- TABLET --- */
@media (max-width: 769px) {
  .main-banner {
    padding-top: 138px;
    max-width: 767px;
    max-height: 762px; }
    .main-banner__title {
      font-size: 28px;
      line-height: 144%;
      letter-spacing: 0.32px;
      max-width: 382px; }
    .main-banner__description {
      font-size: 15px;
      line-height: 20px;
      letter-spacing: -0.24px;
      max-width: 382px; }
    .main-banner__picture {
      width: 146px;
      height: 317px;
      margin: 6px 0; }
    .main-banner__form {
      grid-template-areas: "banner-heading"
 "phone-input"
 "fullname-input"
 "banner-button";
      padding: 24px;
      max-width: 382px;
      margin-top: 32px;
      grid-row-gap: 32px; }
      .main-banner__form-heading {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.38px;
        margin-bottom: 0;
        color: var(--gray-900); }
    .main-banner__left-carousel {
      height: calc(329px * 6); }
    .main-banner__right-carousel {
      height: calc(329px * 6); }
  @keyframes left-carousel {
    0% {
      transform: rotate(-12deg) translate(120px, 0); }
    100% {
      transform: rotate(-12deg) translate(120px, calc(-329px * 3)); } }
  @keyframes right-carousel {
    0% {
      transform: rotate(-12deg) translate(280px, calc(-329px * 3)); }
    100% {
      transform: rotate(-12deg) translate(280px, 0); } } }

@media (max-width: 426px) {
  .main-banner {
    max-height: unset;
    height: unset; }
    .main-banner__form {
      margin-top: 536px;
      max-width: 393px; }
    .main-banner__picture {
      width: 137px;
      height: 271px;
      margin: 6px 0; }
    .main-banner__background {
      top: 90px; }
    .main-banner__left-carousel {
      height: calc(283px * 6); }
    .main-banner__right-carousel {
      height: calc(283px * 6); }
  @keyframes left-carousel {
    0% {
      transform: rotate(-12deg) translate(20px, calc(283px * 1)); }
    100% {
      transform: rotate(-12deg) translate(20px, calc(283px * 1)); } }
  @keyframes right-carousel {
    0% {
      transform: rotate(-12deg) translate(180px, calc(283px * 1)); }
    100% {
      transform: rotate(-12deg) translate(180px, calc(283px * 1)); } } }
